{% extends "layout.njk" %}

{% block content %}
    <div class="not-found">
        <h2>Página não encontrada!</h2>
        <img src="https://onlineminds.com.br/static/img/404.d3379df.svg" alt="">
    </div>
    {% endblock%}