@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --color-green: #50fa7b;
    --color-rocket: #32206e;
    --color-orange: #fd951f;
    --color-dark: rgba(0, 0, 0, 0.9);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

ul,
li {
    list-style: none;
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--color-rocket);
}

header a {
    padding: 30px;
    color: white;
    text-decoration: none;
}

header a:hover {
    font-weight: bold;
    color: var(--color-green);
    transition: 200ms;
}

#logo {
    max-width: 100%;
    background-color: white;
    text-align: center;
}

#logo img {
    border-radius: 50%;
    border: 5px solid var(--color-rocket);
    width: 300px;
    height: 300px;
    margin: 20px;
}

#logo h1 {
    color: var(--color-rocket);
    margin: 20px;
}

#logo {
    text-align: center;
    list-style: none;
}

#tecnologias {
    max-width: 100%;
    text-align: center;
}

#tecnologias img {
    width: 150px;
    height: 150px;
}

#lista li {
    display: inline;
    text-align: center;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    max-width: 90%;
    padding: 10px;
    margin: 4px auto;
}

.starter,
.launchBase,
.goStack {
    border: 4px solid var(--color-dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
}

.starter p,
.launchBase p,
.goStack p {
    color: white;
    margin: 26px;
    text-align: center;
}

.starter img,
.launchBase img,
.goStack img {
    margin: 30px auto;
}

.starter div {
    margin: 20px;
    border: 3px solid #6543d6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starter:hover {
    border: 7px solid var(--color-rocket);
}

.starter span {
    color: #6543d6;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.starter strong {
    color: #6543d6;
}

.launchBase:hover {
    border: 7px solid var(--color-orange);
}

.launchBase div {
    margin: 20px;
    border: 3px solid var(--color-orange);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launchBase span {
    color: var(--color-orange);
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.launchBase strong {
    color: var(--color-orange);
}

.goStack:hover {
    border: 7px solid var(--color-green);
}

.goStack div {
    margin: 20px;
    border: 3px solid var(--color-green);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goStack span {
    color: var(--color-green);
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

.goStack strong {
    color: var(--color-green);
}

.starter .info,
.launchBase .info,
.goStack .info {
    font-size: 15px;
    padding: 20px;
}

.starter .price,
.launchBase .price,
.goStack .price {
    font-size: 20px;
    padding: 5px;
    width: 30%;
    background-color: blue;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

footer {
    max-width: 100%;
    padding: 30px;
    text-align: center;
    background-color: var(--color-rocket);
}

footer a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    border-radius: 10px;
    border: 1px solid white;
    font-weight: bold;
    color: var(--color-green);
}

iframe {
    width: 90%;
    height: 500px;
    top: 0;
    margin: 2vh auto;
    display: flex;
    overflow: hidden;
}